<div class="row">
    <div class="col-12 col-md-6">
        <h1>{{ object.name }} (id: {{ object.id }})</h1>
        {% if object.get_edit_url %}
        <small>
            <a href="{{ object.get_edit_url }}">Edit</a>
            <a href="{{ object.get_delete_url }}" hx-post="{{ object.get_delete_url }}" hx-confirm="Are you sure?" hx-trigger="click" >Delete</a>
        </small>
        {% endif %}
        <p>{{ object.description }}</p>
        <p>{{ object.directions }}</p> 
    </div>
    <div class="col-12 col-md-6">
        {% for ingredient in object.get_ingredients_children %}
        {% include 'recipes/partials/ingredient-inline.html' with object=ingredient %}
        {% endfor %}
    </div>
</div>


